VARIABLES IN PYTHON

In [6]:
a = 10
b = 5.46
student_name1 = "hanan"
student_name2 = "lia"

print(a)
print(b)
print(student_name1)
print(student_name2)

# print(type(a))
# print(type(b))
# print(type(student_name1))
# print(type(student_name2))

10
5.46
hanan
lia
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

KEYWORDS IN PYTHON

In [3]:
import keyword
print(keyword.kwlist) # kw is short term for keyword

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

DATATYPES AND TYPE CASTING IN PYTHON

In [7]:
a = 10              # int 
b = 20.7            # float
c = "hello"         # string
d = True            # boolean
e = [10, 20, 30]    # list
f = (10,20,30)      # tuple
g = {"A" : 10}      # dictionary -- key and value pairs

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

type casting
- convert one data type to another data type

In [9]:
a = float(a)
print(a)
print(type(a))

e = tuple(e)
print(e)
print(type(e))

10.0
<class 'float'>
(10, 20, 30)
<class 'tuple'>

ID IN PYTHON - ADDRESS OF VALUE

In [1]:
a =  10
print(id(a))

A = 10
print(id(A))

b = 10
print(id(b))

B = 20
print(id(B))

140713423346392
140713423346392
140713423346392
140713423346712

ARITHMETIC OPERATORS IN PYTHON

In [3]:
a = 20 
b = 10
print(a + b)        # addition
print(a - b)        # subtraction
print(a * b)        # multiplication
print(a / b)        # division -- whole
print(a // b)       # floor division -- quotient
print(a % b)        # modulus -- remainder

30
10
200
2.0
2
0

LOGICAL OPERATORS IN PYTHON

In [4]:
# and or not ---booelan output (True/False)

a = 10

print(a >= 10 and a < 20)       # two conditions must satisfied
print(a > 10 or a < 20)         # any one conditions must satisfied
print(not(a >= 10 and a < 20))  # true becomes false and false becomes true

True
True
False

COMPARISON OPERATORS IN PYTHON

In [6]:
a = 10
b = 20
print(a == b)      # equal 
print(a != b)      # not equal 
print(a > b)       # greater than
print(a < b)       # less than
print(a >= b)      # greater or equal 
print(a <- b)      # less or equal

False
True
False
True
False
False

BITWISE OPERATOR IN PYTHON

In [12]:
# and or not xor --- LCM FOR FIND BIT (binary number)

a = 2       # bit for 2 is 10
b = 3       # bit for 3 is 11
 
print(a&b)  # two values must be true   -- 0 - false, 1 - true
print(a|b)  # any one must be true 
print(~a)   # negative value
print(~b)
print(a^b)  # same value is 0, different value is 1

2
3
-3
-4
1

MEMEBERSHIP OPERATORS IN PYTHON

In [14]:
# in not in -- boolean value

a = [10, 20, 30]

print(10 in a)
print(10 not in a)
print(3333 not in a)

True
False
True

IDENTITY OPERATOR

In [16]:
# is is not -- value is same or not

a = 10
b = 30
c = 10
d = a

print(id(a))
print(id(b))
print(id(c))
print(id(d))

print(a is b)
print(a is c)
print(a is not b)
print(a is not c)
print(d is a)

140713423346392
140713423347032
140713423346392
140713423346392
False
True
True
False
True

IF ELIF ELSE CONDITIONAL STATEMENTS IN PYTHON

In [17]:
mark = 50

if  mark > 90:
    print("A grade")
elif mark < 50:
    print("B grade")
else:
    print("Fail")

Fail

FOR LOOP AND RANGE FUNCTION

In [18]:
for i in range(10):     # 0,1,.....,9 = 10 values  -> n - 1 = 11 - 1 = 10
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1,11,3):
    print(i)

1
4
7
10

WHILE LOOP IN PYTHON

In [31]:
i = 1

while i < 10:
    print(i)
    print("Hello World")
    i += 1      # 1,2,3......,10 --> 10 < 10 false

1
Hello World
2
Hello World
3
Hello World
4
Hello World
5
Hello World
6
Hello World
7
Hello World
8
Hello World
9
Hello World

BREAK AND CONTINUE STATEMENTS

In [37]:
i = 1
j = 1

while i <= 10:
    if i == 5: 
        break   # exit loop if 5 comes
    print(i)
    i += 1

while j <= 10:
    if j == 5:
        j += 1      # need to add this, if not the it will always stuck at number 5, and cannot move to the number after that. it will make infinite loop
        continue    # skip 5 the print others.. only skip number 5
    print(j)
    j += 1

1
2
3
4
1
2
3
4
6
7
8
9
10

FUNCTIONS IN PYTHON

In [45]:
# DEF KEYWORDS

def addition():
    a = 10
    b = 20
    c = a + b
    print(c)

addition()

def subtraction(m, n):
    o = m - n
    print(o)

m = int(input())
n = int(input())

subtraction(m,n)

30
20

TRY EXCEPT FINALLY BLOCK

In [49]:
# EXCEPTIONS

# EXAMPLE : ZERO DIVISION ERROR  --> 10/0 given zero division error
try:
    a = 10
    b = 0

    print(a/b)

except Exception as e:
    print(e)

finally:
    print("amal cute")

division by zero
amal cute

STRING FUNCTIONS

In [57]:
name = "Amal"

print(name)
print(type(name))
print(id(name))

gender = input("Enter your gender: ")  # user defined input
print(gender)

# functions in strings
print(name.upper())         # uppercase
print(name.capitalize())    # capital first letter in word
# print(name.count())
print(name.count("a"))
print(name.replace("m", "k"))

# slice
print(name[1:4])        # A = 0, m = 1, a = 2, l = 3   ---> index -> n - 1
print(name[::-1])       # reverse word
print(len(name))

Amal
<class 'str'>
2027117960272
female
AMAL
Amal
1
Akal
mal
lamA
4

LIST IN PYTHON

In [66]:
# mutable --> can add, remove or change

a = [10, 20, 30, 40]        # homogeneous -> same datatype
b = [10, 20.4, "hello"]     # heterogeneous -> different datatype

print(a)
print(b)

print(type(a))
print(type(b))

print(id(a))
print(id(b))

# function available in list

a[1] = 30           # change value in index 1
print(a)

print(a.index(30))  # findindex of the value

a.remove(10)        # remove value 10 from list
print(a)

a.insert(0,10)      # insert 10 in the list in index 0
print(a)

a.sort(reverse=True) # reverse list
print(a)

a.extend(b)         # combine 2 list
print(a)

[10, 20, 30, 40]
[10, 20.4, 'hello']
<class 'list'>
<class 'list'>
2027123272576
2027123594624
[10, 30, 30, 40]
1
[30, 30, 40]
[10, 30, 30, 40]
[40, 30, 30, 10]
[40, 30, 30, 10, 10, 20.4, 'hello']

TUPLE IN PYTHON

In [68]:
# immutable data type

a = (20, 30, 40)        # homogeneous  --> same datatype
b = (10, 30.4, "hello") # heteregenous --> diffarent datatype

print(a)
print(type(a))
print(id(a))

# FUNCTION IN TUPLE

# SLICE FUNCTION
print(a[0:2])           # n - 1 == 2-1 = 1, 0,1
print(a[:])

# CONVERT TUPLE TO list

a = list(a)

print(a)
print(type(a))
print(id(a))

(20, 30, 40)
<class 'tuple'>
2027116572096
(20, 30)
(20, 30, 40)
[20, 30, 40]
<class 'list'>
2027122855808

DICTIONARY AND FUNCTIONS

In [74]:
# KEY - VALUE PAIRS

# MUTABLE DATA TYPE

a = {
    "a" : 10,
    "b" : "Amal",
    "c" : 20.345
    }

print(a)
print(type(a))

# functions

print(a.keys())
print(a.values())
print(a.items())    

a["a"] = 20     # change values
print(a)

a.update({"e" : 99})
print(a)

{'a': 10, 'b': 'Amal', 'c': 20.345}
<class 'dict'>
dict_keys(['a', 'b', 'c'])
dict_values([10, 'Amal', 20.345])
dict_items([('a', 10), ('b', 'Amal'), ('c', 20.345)])
{'a': 20, 'b': 'Amal', 'c': 20.345}
{'a': 20, 'b': 'Amal', 'c': 20.345, 'e': 99}

OBJECT ORIENTED PROGRAMMING (OOP)

CLASS AND OBJECTS

In [75]:
# class

class student:
    name = "Amal"
    age = 24
    print(name)
    print(age)

# object --> to execute the class

object1 = student()

object1.name
object1.age

Amal
24

'Amal'

CLASS METHOD

In [80]:
class maths:

    def addition(self): # must write (self/any words) in column
        a = 10
        b = 20
        c = a + b
        print(c)

object2 = maths()
object2.addition()

30

INHERITANCE

In [85]:
# child class will use parent class

class father:               # father is parent class
    def property_(self):
        money = 1000
        land = 20
        print(money)
        print(land)
    
class son(father):          # son is a child class
    def child(self):
        name = "Amal"
        age = 24
        print(name)
        print(age)

object3 = son()
object3.child()
object3.property_()

Amal
24
1000
20

In [88]:
# multiple inheritance

# child class will use parent class

class father:               # father is parent class
    def property_(self):
        money = 1000
        land = 20
        print(money)
        print(land)

class mother:
    def savings(self):
        money1 = 9999
        print(money1)
    
class son(father, mother):          # son is a child class
    def child(self):
        name = "Amal"
        age = 24
        print(name)
        print(age)

object4 = son()
object4.child()
object4.property_()
object4.savings()

Amal
24
1000
20
9999

POLYMORPHISM